@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

.contact-data-container {
  min-height: 100vh;
  background-color: #545454;
  padding: 12vw;
}

.contact-data-icon {
  display: flex;
  justify-content: center;
  padding-bottom: 5vh;
}
.button-container {
  display: flex;
  justify-content: center;

}

.button-contact-data {
  background-color: transparent;
  color: #f17821;
  border: 5px solid #f17821;
  border-radius: 5px;
  padding-block: 0.5rem;
  width: 20rem;
  font-family: "Montserrat", sans-serif;
}

.button-contact-data:hover {
  background-color: #f17821;
  color: #545454;
}

.contact-data-button-text {
  margin: 0;
}

.data-container {
  padding-top: 8vh;
}
