@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

.footer-container {
  min-height: auto;
  background-color: #545454;
  font-family: "Montserrat", sans-serif;
  color: #f17821;
  padding-inline: 12vw;
}

.footer-content {
  text-align: center;
  padding-top: 5vh;
}

.footer-content h4 {
  padding-top: 3vh;
  border-top: solid;
}

.footer-bottom {
  text-align: center;
}
.footer-bottom p {
  padding-bottom: 5vh;
  text-align: center;
}
